* {
    margin: 0;
    padding: 0;

}

body{
    /*background: rgba(0, 174, 239, 0.5);*/
    background: #00aeef;        /* #3d7185 */
    color: white;
}

#main{
    text-align: center;
}

#newCard{
    text-align: center;
    margin-top: 10px;
    display: none;
}

.btn {
    background-color: #f47b20;      /* #d58a00 */
    border-radius: 10px;
    border: 0;
    margin-top: 10px;
    padding: 10px;
    color: white;
    width: 85%; 
    font-size: xx-large;
}


.btn-footer {
    background-color: #7ac143;      /* #00AEEF */
    border-radius: 10px;
    border: 0;
    margin-top: 10px;
    padding: 10px;
    color: white;
    width: 85%; 
    font-size: large;
}


#card_div{
    width: 98%;
    margin: auto;
    margin-top:15px;
    margin-bottom: 15px;
}

#name{
    font-size: xx-large; 
    font-weight: bold;
}

#card_img{
    height: auto;
    width: inherit;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 15px;
}

#power{
    font-size: x-large; 
    font-weight: bold;
}

#description{
    font-size: x-large; 
}

#quote{
    font-size: large; 
    font-style: italic;
    margin-top: 10px;
}

#footer{
    /*position: absolute;*/
    /*bottom:0;*/
    color: #2e3192;
    font-size: large;
    width: 100%;
    padding-bottom: 5px;
    margin-top: 5px;
}

.textInput {
    width: 75%;
}

#jsonForm {
    display: none;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

#spinner {
  display: none;
  color: #ec008c;    /* #7ac143 */
  margin: 10px;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}
