* {
    margin: 0;
    padding: 0;

}

body{
    background: #3d7185;
    color: white;
}

#main{
    text-align: center;
}

#newCard{
    text-align: center;
    margin-top: 10px;
    display: none;
}

.btn {
    background-color: #d58a00;      /* #00AEEF */
    border-radius: 10px;
    border: 0;
    margin-top: 10px;
    width: 85%; 
    font-size: xx-large;
}

.btn-footer {
    background-color: #d58a00;      /* #00AEEF */
    border-radius: 10px;
    border: 0;
    margin-top: 10px;
    width: 85%; 
    font-size: large;
}

#card_div{
    width: 98%;
    margin: auto;
    margin-top:15px;
    margin-bottom: 15px;
}

#name{
    font-size: xx-large; 
    font-weight: bold;
}

#card_img{
    height: auto;
    width: inherit;
    margin-top:10px;
    margin-bottom:10px;
}

#power{
    font-size: x-large; 
    font-weight: bold;
}

#description{
    font-size: x-large; 
}

#quote{
    font-size: medium; 
    font-style: italic;
}

#footer{
    /*position: absolute;*/
    /*bottom:0;*/
    font-size: medium;
    width: 100%;
    padding-bottom: 5px;
    margin-top: 5px;
}

.textInput {
    width: 75%;
}

#jsonForm {
    display: none;
}
