* {
    margin: 0;
    padding: 0;

}

body{
    color: white;
    font-size: large;
}

.orange {background-color: #f47b20;}
.pink {background-color: #ec008c}
.green {background-color: #7ac143;}
.lightBlue {background-color: #00aeef;}
.blue {background-color: #2e3192;}

#main{
    text-align: center;
}

#newCard{
    text-align: center;
    margin-top: 10px;
    display: none;
}

.myBtn {
    color: white;
    border-radius: 10px;
    border: 0;
    margin: 15px;
    padding: 10px;
    width: 85%; 
    font-size: xx-large;
}

.myAudioBtn {
    color: white;
    border-radius: 10px;
    border: 0;
    margin-bottom: 10px;
    padding: 10px;
    width: 96%;
    font-size: xx-large;
}

#audioBtn {
    display: none;
}

#myModal {
    color: black;
}


.myBtn-footer {
    border-radius: 10px;
    border: 0;
    padding: 10px;
    color: white;
    width: 85%; 
    font-size: large;
    margin-bottom: 10px;
}


.closeBtn {
    width: 100%;
    margin: 0px;
}


#card_div{
    width: 96%;
    margin: auto;
}

#name, #modalName {
    font-size: xx-large; 
    font-weight: bold;
}

#card_img {
    height: auto;
    width: inherit;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 15px;
}

#modalCardImg {
    height: auto;
    width: 100%;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 15px;
}

#power{
    font-size: x-large; 
    font-weight: bold;
    display: none;
}

#description, #modalDescription {
    font-size: x-large; 
}

#quote, #modalQuote {
    font-size: large; 
    font-style: italic;
    margin-top: 10px;
}

#footer{
    font-size: medium;
    width: 100%;
    padding-bottom: 15px;
}

.textInput {
    width: 75%;
}

#jsonForm {
    display: none;
}

.myLabel {
    display: block;
}

input[type="file"] {
    display: inline-block;
}

input, textarea {
    color: black;
    font-weight: normal;
}

#imgForm {
    color: white;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: none;
  color: #ec008c;    
  margin: 10px;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: white;
  border-color: #bbd6fe;
  display: none;
  font-size: large;
}

.myBadge {
    display: inline;
    font-size: 15px;
}












